@import url('https://fonts.googleapis.com/css2? family= Lexend:wght@700 & display=swap');
h1{
    width: 559.33056640625px;
    height: 30px;
    top: 177px;
    border-radius: nullpx;
    font-family:  'Lexend', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    
    

}

footer{
    height: 413px;
width: 1440px;
/* background: #97B8A5; */
background-image: url(src\assets\ola.svg);
    position: absolute;
}

body{
    
    /* background-image: url(src\assets\ola.svg); */

    
}
p{
font-family: Hind Madurai;
font-size: 14px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0.05em;
text-align: center;

}

img{
    height: 40px;
width: 50px;
left: 372px;
top: 5px;
border-radius: 0px;


}
button{
    height: 38px;
width: 115px;
left: 1165px;
top: 187px;
border-radius: nullpx;
font-family: Lexend;
font-size: 30px;
font-weight: 800;
line-height: 38px;
letter-spacing: 0em;
background: #FFD87E;



}

img{
    display: block;
}
.logos{
     display: flex;
     flex-direction: row;
     flex-grow: 80;
     
}
ul{
    list-style: none;
}
li a{
    text-decoration: none;
font-family: Hind Madurai;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.05em;
text-align: left;

}
p{
    color: #477D5E;
font-family: Hind Madurai;
font-size: 14px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0.05em;
text-align: center;

}
.fondo{
    background-image: url(src\assets\ola.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}