/* FUENTES Y TAMAÑOS */


/* font-family: 'Lexend'; */

@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/* font-family: 'Hind Madurai'; */

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

/* COLORES */
div{
    position: relative;
    background-color: aqua;
    width: 100%;
    height: 400px;
   

}
img{
    position: absolute;
    top: 100px;
    left: 800px;
    width: 30%;
}

/* Carousel Boostrap */
.carousel-item{
    height: 92vh; 
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}

.carousel-item  img {
    object-fit:unset;   
    transition: all 500ms ease-in-out;       
}

.carousel-item figure #capa{
    transition: all 500ms ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.carousel-item figure:hover > #capa {
    opacity: 3;
    visibility:visible;
}

.carousel-item figure:hover > img {
   filter: opacity(0.3) drop-shadow(0 0 0 rgb(66, 66, 66)); 
        
}

/**************************************************/