@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap");

:root {
  --yellow: #ffd87eff;
  --green-light: #97b8a5ff;
  --green-dark: #477d5e;
  --sky-blue: #deeaecff;
  --coral: #f18b7eff;
  --pink-light: #ffe4ddff;
  --grey-dark: #3f3f3fff;
}

nav {
  border-bottom: 1.5px solid rgba(151, 184, 165, 0.5);
  box-shadow: 0px 2px 12px rgba(151, 184, 165, 0.25);
}

.logo-style {
  height: clamp(80px, 10vw, 158px);
}

.btn-close {
  width: 3em;
  height: 3em;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(151, 184, 165, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
  border: none;
}

.fond-style {
  background-color: var(--pink-light);
}

.text-style {
  color: #477d5e;
  font-family: Lexend;
  font-size: 22px;
  font-weight: 800;
  text-align: center;
}

.text-style {
  font-size: clamp(0.5em, 1.5vw, 1.5em);
}

.menu-style > a > span {
  transition: all 300ms;
}

.menu-style > a > span:hover {
  display: block;
  color: var(--coral);
  transform: translateY(-5px);
}

.menu-style > a > span:hover::after {
  height: 5px;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  background: var(--coral);
}

@media (max-width: 576px) {
  nav {
    border: none;
  }

  .logo-style {
    height: 120px;
  }

  .background-style {
    background-color: var(--green-light);
  }
  .text-style {
    color: #ffffffcc;
    font-family: Lexend;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }

  .menu-style > a > span:hover {
    color: var(--green-dark);
    display: inline-block;
  }
  .menu-style > a > span:hover::after {
    background: var(--green-dark);
  }
}
